*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#070707;
color:#fff;
line-height:1.7;
}

header{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#000,#111);
}

header h1{
font-size:3.5rem;
font-weight:900;
letter-spacing:3px;
}

header p{
opacity:.7;
margin-top:10px;
}

.btn{
margin-top:25px;
padding:12px 28px;
background:#ff004f;
color:white;
text-decoration:none;
border-radius:30px;
transition:.3s;
}

.btn:hover{
transform:scale(1.1);
}

section{
padding:80px 10%;
}

h2{
margin-bottom:25px;
border-left:5px solid #ff004f;
padding-left:10px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:#111;
padding:20px;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}

.video{
max-width:900px;
margin:auto;
}

.social a{
margin-right:15px;
text-decoration:none;
color:#fff;
font-weight:600;
}

footer{
text-align:center;
padding:30px;
background:#000;
opacity:.6;
}

@media(max-width:768px){
header h1{
font-size:2.3rem;
}
}
.press-header{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#000,#111);
}

.press-img{
width:100%;
border-radius:12px;
  }
